<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<footer class="site-footer h-card">
  <div class="wrapper">
    <h2 class="footer-heading">Deepika's Portfolio</h2>
    <p>© 2024 Deepika Panneerselvam</p>
    <ul class="social-media-list">
      <li>
        <a href="https://github.com/deepikasandp" target="_blank">
          <i class="fab fa-github"></i> GitHub
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/deepika-venkatraman-panneerselvam-04989215/" target="_blank">
          <i class="fab fa-linkedin"></i> LinkedIn
        </a>
      </li>
    </ul>
  </div>
</footer>
