<!-- Modal Structure -->
<div id="repoModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <h2 class="project-information__title">Project Repositories</h2>
    <h3 class="project-information__heading">Serverless Image Upload & View Application</h3>
    <button class="project-information__btn">
      <a target="_blank" href="https://github.com/deepikasandp/SIUV-UI">Frontend Repo</a>
    </button>
    <button class="project-information__btn">
      <a target="_blank" href="https://github.com/deepikasandp/SIUV-Service">Service Repo</a>
    </button>
    <button class="project-information__btn">
      <a target="_blank" href="https://github.com/deepikasandp/SIUV-Lambda">Lambda Repo</a>
    </button>
  </div>
</div>
