/* Change the background color */
* {
  font-family: 'Open Sans', sans-serif;
  color: #212121;
  font-size: 1rem;
  color: #212121;
  box-sizing: border-box;
}

a {
  color: #1faa9b;
  font-weight: 350;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #0e4b45;
  font-weight: 350;
}

ul {
  list-style: none;
}

li {
  margin: 0.5rem 0;
}

ul li:before {
  content: "\2022";
  color: #1faa9b;
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
}

/* Sticky navigation */
.site-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #e8f9f6;
  .site-title {
    color: #1faa9b;
  }
}

/* Project Section */
.projects {
  display: grid;
  gap: 2rem;
  padding: 1rem;
}

/* Default layout for larger screens */
.projects-row {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 1rem;
}

.image-container {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 80%;
  height: 80%;
}

/* For small screens (mobile/tablet) */
@media (max-width: 768px) {
  .projects-row {
    grid-template-columns: auto;
  }
  .image-container {
    width: 100%;
    height: 100%;
  }
  .project-information {
    margin-top: 1rem;
  }
}

.bg-beauty-connect {
  background-color: #d2f8ce;
}

.bg-aws-microservice {
  background-color: #f4efa9;
}

.bg-dynamic-form {
  background-color: #ffe0b2;
}

.projects-row__img {
  display: block;
  width: 100%;
  height: auto;
  padding: 1rem;
  box-sizing: border-box;
}

.project-information {
  width: 100%;
}

.project-information__title {
  margin-bottom: 1rem 0 0.75rem 0;
  font-size: 1.5rem;
  font-weight: 400;
}

.project-information__heading {
  font-size: 1rem;
  font-weight: lighter;
  font-style: italic;
  color: #808080;
}

.project-information__btn {
  margin: 1rem 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: white;
  border: 1px solid #0e4b45;
}

.site-footer {
  background-color: #e8f9f6;
  padding: 20px;
  text-align: center;
}

.social-media-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-media-list li {
  margin: 0;
}

.social-media-list li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  padding: 0;
  align-items: center;
}

.social-media-list li + li {
  padding: 0;
}

.social-media-list li a:hover {
  color: #1faa9b; /* Change color on hover */
}
